@import '../../sass/Filter.scss';

.containerPagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageCount {
  display: flex;
  align-items: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--pagination-color);
}

.arrowDown {
  fill: inherit;
  margin-left: 11px;
  margin-right: 31px;
}

.arrowRight {
  fill: inherit;
}

.arrowLeft {
  fill: var(--pagination-color);
  margin-right: 43px;
  margin-left: 29px;
}

.pagination {
  display: flex;
  align-items: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--pagination-color);
}
