@import '../../sass/Filter.scss';

.sectionStudents {
  padding: 14px 40px 18px 40px;
}

.studentItemHead {
  display: flex;
  align-items: center;
  padding: 14px 26px 14px 23px;
}

.studentIdHead {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 88px;
}

.studentSpeedHead {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 106px;
}

.containerFilterName {
  width: 300px;
  margin-right: 24px;
}

.containerFilterScore {
  display: flex;
  align-items: center;
  width: 94px;
  margin-right: 29px;
}

.containerFilterSpeed {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.containerFilterId {
  display: flex;
  align-items: center;
  width: 96px;
  margin-right: 28px;
}

.studentsList {
  text-decoration: none;
  list-style: none;
  margin: 0 0;
  padding-left: 0;
}

.studentItem {
  display: flex;
  align-items: center;
  padding: 14px 26px 14px 23px;
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
}

.studentItem:nth-child(2n) {
  background: #f9f9f9;
}

.checkbox {
  width: 12px;
  height: 12px;
  color: var(--text-color);
  margin-right: 26px;
}

.studentNameHead {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 287px;
}

.studentName {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 300px;
  margin-right: 24px;
}

.studentId {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  margin-right: 28px;
  width: 96px;
}

.studentClass {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 40px;
  margin-right: 24px;
}

.studentScoreHead {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 100px;
}

.studentScore {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 100px;
  margin-right: 24px;
}

.studentSpeed {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 112px;
  margin-right: 25px;
}

.containerParentName {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--text-color);
  display: inline-block;
  width: 250px;
  margin-right: 111px;
  display: flex;
  align-items: center;
}

/* ICONS  */

.filterNameIcon {
  width: 13px;
  height: 13px;
  fill: inherit;
}

.arrowNumber {
  width: 6px;
  height: 16px;
  fill: inherit;
}

.info {
  width: 13px;
  height: 13px;
  fill: inherit;
  margin-right: 7px;
}
